* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


main {
    width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.logo {
    font-size: 26.8px;
    color: rgba(0, 0, 0, 1);
}

.over {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 87.17px;
    width: 375px;
    padding: 0 20px 0 16px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 1px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 1);
    margin: 3px 0;
}

.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
}


.menu.show {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.bar-2 {
    margin-top: 10px;
}

.menu li {
    margin: 10px 0;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#image {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

img {
    width: 340px;
}