* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


main {
    width: 480px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.logo {
    font-size: 26.8px;
    color: rgba(39, 38, 38, 0.829);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.0s ease-in-out;
    z-index: 1000;
}

.menu-overlay.active {
    transform: translateX(0);
}

.menu-items {
    list-style: none;
    text-align: center;

}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.over {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 480px;
    height: 77.17px;
    color: black;
    padding: 10px;
    background-color: transparent;
    transition: top 0.3s ease-in-out, 0.3s ease-in-out;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 1px;
    background-color: rgba(39, 38, 38, 0.829);
    margin: 3px 0;
}

.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
}


.menu.show {
    display: flex;
    background-color: rgba(39, 38, 38, 0.705);
}

.menu.show,
.menu-toggle:hover+.menu,
.menu:hover {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}


.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#image {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

img {
    width: 480px;
}

.icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s;
}

#icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    height: 100vh;
}

.icons {
    display: flex;
    justify-content: center;
    padding-top: 125px;
    padding-bottom: 50px;
    gap: 50px;
}