* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}


main {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.logo {
    font-size: 26.8px;
    color: rgb(255, 255, 255);
}


.over {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 400px;
    height: 77.17px;
    color: black;
    padding: 5px;
    background-color: transparent;
    transition: top 0.3s ease-in-out, 0.3s ease-in-out;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 1px;
    gap: 10px;
    background-color: rgb(255, 255, 255);
    margin: 3px 0;
}

.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-10px);
}
.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    display: block;
}


.menu.show {
    display: flex;
    background-color: rgb(255, 255, 255);
}

.menu.show,
.menu-toggle:hover+.menu,
.menu:hover {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.bar-2 {
    margin-top: 10px;
}

.menu li {
    margin: 10px 0;
}


.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#image {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

img {
    width: 400px;
}